.modal{
  background-color: #0008; /*black that is roughly 50% transparent */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0ms linear 500ms, opacity 500ms linear;
}

.modal_opened{
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

.modal__form-container{
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 34px 36px 0;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 0 25px 0;
}

.modal__image-container{
  position: relative;
  box-sizing: border-box;
  margin: auto;
}

.modal__image-title{
  color: #FFF8;
  position: absolute;
  font-size: 12px;
  bottom: -10px;
  margin: 0;
  font-weight: normal;
}

.modal__image{
  max-width: 75vw;
  max-height: 75vh;
}

.modal__form-title{
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.modal__form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 50px 0 0;
  border: none;
}

.modal__label{
  position: relative;
}

.modal__input{
  width: 100%;
  padding: 0 0 10px;
  margin: 0;
  font-size: 14px;
  border: none;
  border-bottom: solid #00000033 1px;
}

.modal__input_type_error{
  border-bottom: solid #FF0000 1px;
}

.modal__error{
  visibility: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
  color: #F00;
  font-size: 12px;
  font-weight: normal;
}

.modal__error_visible{
  visibility: visible;
}

.modal__button{
  margin: 48px 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
}

.modal__button_disabled{
  background-color: #0000;
  color: #0008;
  border: solid #0008 2px;
}

.modal__button:hover{
  cursor: pointer;
}

.modal__button_disabled:hover{
  cursor: default;
}

.modal__cancel-button{
  padding: 0;
  margin: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  width: 28px;
  height: 28px;
  background-color: #0000;
  background-image: url(../images/Close\ Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.modal__cancel-button:hover{
  cursor: pointer;
}


@media screen and (max-width: 596px){
  .modal__form-container{
    padding: 25px 22px;
    width: 282px;
    height: 322px;
  }

  .modal__form-title{
    font-size: 18px;
  }

  .modal__form{
    margin-top: 75px;
  }

  .modal__submit-button{
    margin: 45px 0 0;
    width: 238px;
    height: 48px;
    font-size: 14px;
  }

  .modal__cancel-button{
    right: 8px;
    top: -39px;
    width: 18px;
    height: 18px;
  }

  .modal__image-cancel-button{
    width: 21px;
    height: 21px;
    top: -27px;
    right: -27px;
  }
}